/************************** BASE-SPACE ***********************/
BASE_SPACE=1rem
/************************** COLORS ***************************/
COLOR_TURQUOSE=#43CEE6
COLOR_GREEN=#16a085
COLOR_SKY_BLUE=#43CEE6
COLOR_BLUE=#3498db
COLOR_DARK=#444444
COLOR_BLACK=#000
COLOR_WHITE=#ffffff
COLOR_RED=#731314
COLOR_ORANGE=#e67e22
COLOR_PURPLE=#9b59b6
COLOR_BRIGHT = #FCE1C3
COLOR_YELLOW = #E6BC3A
COLOR_TWITTER = #55ACEE

// COLOR THEME DEFAULT
COLOR_THEME = #003366
COLOR_THEME_SECOND = #4A87EE
// SPECIALS
COLOR_HTML5=#E34C26
COLOR_PLOMO=#999999

// width Nav off-canvas
wNav=14rem




