@import "__constants/variables.styl"
@import "__constants/mixins.styl"

.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.5)
  z-index: 10
  transition: opacity 500ms ease-in
  opacity: 0
  pointer-events: none
  &:target
    opacity: 1
    pointer-events: auto
    & > div
      animation-name: bounce
  & > div
    background: #fff
    position: relative
    overflow-y scroll
    animation: minimise 500ms linear
    border-radius .4rem

  & a[href="#close"]
    position: absolute
    right: 0
    top: 0
    color: transparent
    &:focus
      outline: none
    &:after
      font-family: "FontAwesome"
      content: "\f00d"
      font-size BASE_SPACE*2
      position: fixed
      right: 1rem
      top: .5rem
      color COLOR_WHITE
      square(3rem)
      background-color COLOR_DARK
      border-radius 50%
      text-decoration none
      padding-top .3rem
      text-align center
    &:focus:after,&:hover:after
      transform: scale(1.1,1.1)
    &:focus:after
      outline: none

@keyframes bounce 
  0% 
    transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  55% 
    transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  75% 
    transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  100% 
    transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);

@keyframes minimise 
  0% 
    transform: scale3d(1,1,1);
  100% 
    transform: scale3d(0.1,0.1,1);
