@import "__constants/variables.styl"
@import "__constants/mixins.styl"

*
	box-sizing  border-box
	&:before,&:after 
		box-sizing  border-box
body,h1,h2,h3,h4 ,fieldset,ul,ol,figcaption,figure,picture,p,dl,dd,dt,blockquote
	margin 0
	padding 0
a
	outline 0
	text-decoration none
ul,ol
	margin 0
	padding 0
html,body
	min-height: 100%
html
	text-size-adjust 100%
caption, p, table, textarea, td, th
	hyphens auto
	word-break break-all
	word-break break-word