@import "__constants/variables.styl"
@import "__constants/mixins.styl"
.seven_container
  position: relative
  margin: 0
  cursor: pointer
  width: 100% !important

.seven_container #seven_viewport
  position: absolute
  width: 100%
  height: 100%
  margin-left: 0%
  overflow: hidden
  z-index: 20
  background: COLOR_BLACK

.seven_container #seven_lightbox
  position: fixed
  left: 0
  top: 0
  background-color: COLOR_BLACK
  background-color: rgba(0,0,0,0.9)
  width: 100%
  height: 100%
  z-index: 100

.seven_container #seven_sublightbox
  padding: 8px
  background-color: #fff
  border-radius: 5px
  z-index: 100
  margin: 0 auto
  box-sizing: border-box

.seven_container #seven_sublightbox img
  width: 100% !important

.seven_container #seven_lclose
  width: 25px
  height: 25px
  float: right
  margin-top: -25px
  margin-right: -10px
  cursor: pointer

.seven_container .seven_slider
  display: none

.seven_container .seven_slide_title
  position: absolute
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 24px
  text-align: center
  background-color: #fff
  background-color: rgba(200,200,200,0.6)
  bottom: 15px
  color: COLOR_BLACK000
  border-radius: 0px 20px 0px 20px
  padding: 5px 25px 5px 25px

.seven_container .seven_nav
  z-index: 40
  width: 43px
  height: 43px
  position: absolute
  text-indent: -10000px
  cursor: pointer
  opacity: 0.5
  transition: opacity 0.5s ease-in-out
  display: none

.seven_container .seven_nav.disable
  opacity: 0.1

.seven_container .seven_nav:hover
  transition: opacity 0s ease-in-out
  opacity: 1

.seven_container #right_btn
  background-position: 100% 0

/*css for bullet*/
.seven_container .seven_bt_preview
  position: absolute
  width: 100px
  height: 48px
  top: -55px
  overflow: hidden
  background-color: #333333
  display: none

.seven_container .seven_bt_container

.seven_container .seven_bt_slide
  width: 100px
  height: 48px
  float: left

.seven_container .seven_preview_img
  width: 100px
  height: 48px

.seven_container .seven_bullet_control
  height: 35px
  width: 100%
  position: absolute
  z-index: 20
  bottom: 0

.seven_container .seven_bullet_control #seven_bullet_viewport
  width: 100%
  height: 100%
  margin: 0
  padding: 0

.seven_container .seven_bullet_control #seven_bullet_inner_viewport
  display: inline-block

.seven_container .seven_circle
  width: 11px
  height: 11px
  background-position: 50% 0
  margin: 0 5px 0 5px
  cursor: pointer
  display: inline-block
  position: relative

.seven_container .seven_circle:hover
  background-position: 100% 0

.seven_container .seven_circle.active,
.seven_container .seven_circle.active:hover
  background-position: 0

.seven_container .seven_a_play
  display: inline-block
  margin: 0 5px 0 5px
  cursor: pointer
  background-position: 100% 0

.seven_container .seven_a_pause
  display: inline-block
  margin: 0 5px 0 5px
  cursor: pointer
  background-position: 0% 0

/*css for prev/next slide container*/
.seven_container .seven_func_slide
  position: absolute
  width: 100%
  height: 100%
  margin-left: 0%
  overflow: hidden

.seven_container #seven_next_slide
  z-index: 20
  transform-origin: 0% 0%

.seven_container #seven_prev_slide
  z-index: 10
  top: 0

/*css for carousel viewport*/
.seven_container .seven_hcarousel
  position: absolute
  overflow: hidden
  width: 100%
  height: 87px
  top: 101%

.seven_container #seven_hviewport
  position: absolute
  left: 0
  height: 80px
  padding-top: 3px

.seven_container #seven_hviewport .carousel
  float: left
  margin: 0px 3px 0px 3px
  border: solid 2px COLOR_BLACK

.seven_container #seven_hviewport .carousel img
  width: 150px
  height: 80px

.seven_container .seven_carousel_nav
  position: absolute
  width: 25px
  height: 25px
  background-image: url('../images/slider-icons/carousel_nav.png')
  opacity: 0.5
  transition: opacity 0.5s ease-in-out
  display: none
  top: 35px

.seven_container .seven_carousel_nav.cn_left
  left: 0

.seven_container .seven_carousel_nav.cn_right
  position: absolute
  background-position: 100% 0
  right: 0

.seven_container .seven_carousel_nav:hover
  opacity: 1
  transition: opacity 0s ease-in-out

/* carousel css */
.seven_container .carousel
  opacity: 0.5
  cursor: pointer
  transition: opacity 0.5s ease-in-out

.seven_container .carousel:hover
  opacity: 1.0

.seven_container .carousel.active
  opacity: 1

/* css for slicebox */
.seven_container .sb-slider
  margin: 10px auto
  position: relative
  overflow: hidden
  width: 100%
  list-style-type: none
  padding: 0

.seven_container .sb-slider li
  margin: 0
  padding: 0
  display: none

.seven_container .sb-slider li > a
  outline: none

.seven_container .sb-slider li > a img
  border: none

.seven_container .sb-slider img
  max-width: 100%
  display: block

.seven_container .sb-description
  padding: 20px
  bottom: 10px
  left: 10px
  right: 10px
  z-index: 1000
  position: absolute
  background: #CBBFAE
  background: rgba(190,176,155, 0.4)
  border-left: 4px solid rgba(255,255,255,0.7)
  opacity: 0
  color: #fff
  transition: all 200ms

.seven_container .sb-slider li.sb-current .sb-description
  opacity: 1

.seven_container .sb-slider li.sb-current .sb-description:hover
  background: rgba(190,176,155, 0.7)

.seven_container .sb-perspective
  position: relative

.seven_container .sb-perspective > div
  position: absolute
  transform-style: preserve-3d
  backface-visibility: hidden

.seven_container .sb-side
  margin: 0
  display: block
  position: absolute
  transform-style: preserve-3d

/* css for progressbar*/
.seven_container #lprogress
  position: absolute
  background: none repeat scroll 0 0 #FFFFFF
  left: 0px
  top: 0px
  width: 100%
  height: 4px
  z-index: 40

.seven_container #cprogress
  position: absolute
  right: 15px
  top: 15px
  width: 40px
  height: 40px
  z-index: 50

.seven_container #lp_ct.progressbar
  position: absolute
  background-color: COLOR_BLACK
  left: 0px
  top: 0px
  width: 100%
  height: 4px
  z-index: 40
  opacity: 0.6

.seven_container .progressbar.invisible
  opacity: 0 !important

/*css for player*/
.seven_container .seven_play,
.seven_container .seven_pause
  width: 50px !important
  height: 50px !important
  cursor: pointer

.seven_container .seven_play
  opacity: 0.5
  transition: opacity 0.5s ease-in-out

.seven_container .seven_play:hover
  opacity: 1
  transition: opacity 0.5s ease-in-out

.seven_container #seven_sublightbox iframe
  border: none
  background: COLOR_BLACK

.seven_container .seven_video
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  border: none
  background: COLOR_BLACK

.seven_container .seven_pause
  display: none











.seven_fullwidth
  border: none

.seven_fullwidth .seven_bt_preview
  top: -45px

.seven_fullwidth .seven_bullet_control
  /*left:278px;right:0px !important;bottom:0;*/

.seven_fullwidth .seven_bullet_control #seven_bullet_viewport
  margin-top: 6px

.seven_fullwidth .seven_bullet_control #seven_bullet_inner_viewport
  display: inline-block

.seven_fullwidth #left_btn
  width: 80px
  height: 80px
  background-image: url(../images/slider-icons/fullwidth.png)
  top: 50%
  left: 0
  margin-top: -40px

.seven_fullwidth #right_btn
  width: 80px
  height: 80px
  background-image: url(../images/slider-icons/fullwidth.png)
  top: 50%
  right: 0
  margin-top: -40px

.seven_fullwidth .seven_hcarousel
  margin-top: 0px

.seven_fullwidth .seven_hcarousel #seven_hviewport .carousel
  border: solid 2px #fff

.seven_fullwidth .seven_circle
  width: 17px
  height: 17px
  background-image: url(../images/slider-icons/c_fullwidth.png)

.seven_fullwidth .seven_a_play
  width: 17px
  height: 17px
  background-image: url(../images/slider-icons/p_fullwidth.png)

