@import "__constants/variables.styl"
@import "__constants/mixins.styl"

#gallery-pics
	height auto !important
.swipe 
	overflow hidden
	visibility hidden
	position relative
	
.swipe-wrap 
	clearfix() 
	position  relative
	& > picture
		float left
		position  relative
		& img 
			width 100%
