
        <div class="seven_container">
          <div id="seven_viewport">
            <div class="seven_slider">

              <div class="seven_slide" ng-repeat="slide in slides">
                <a class="seven_slide_title">
                  {{slide.description}}
                </a>
                <img src="{{ slide.img }}" />
              </div>
              
            </div>
          </div>
          <a id="left_btn" class="seven_nav">Previous Slide</a>
          <a id="right_btn" class="seven_nav right_btn">Next Slide</a>
        </div>
        <aside class="col-lg-16">
          <h2 class="text-center color-white">Auspiciadores</h2>
          <div class="row">
            <img src="images/sponsors/logo-yetsu.jpg" alt="" class="display-block col-lg-2 col-md-2"/>
          </div>
        </aside>
        